body {
  background-color: #F4A862;
  color: rgb(0,0,0, .9);
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: rgb(0,0,0, .7);
}

main {
  text-align: center;
  flex-direction: column;
  text-align: center;
}

.nav {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f3bc45;
  font-family: 'Lora', serif;
}

h1{
  text-align: center;
}

.form-div div {
  text-align: center;
  padding: 10px;
}

/* .nav {
  margin: 0 10px;
} */

.padding {
  padding: 15px;
}

.form-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.text {
  text-align: center;
  padding: 10px;
}